<div class="add-student">
    <div class="container">
        <!-- Cabezera de la página -->
        <div class="header">
            <div class="wrapper">
                <div class="imagen">
                    <div class="circulo">
                        <img src="./assets/icons/anadir-amigo.png">
                    </div>
                </div>
                <div class="div-titulo">
                    <h1>Administración de Inscripciones Estudiantiles</h1>
                    <h3>Acceda y gestione las inscripciones de estudiantes en nuestro sistema académico con privilegios de administrador.</h3>
                </div>
            </div>
        </div>
        <hr>
        <!-- Datos estudiante -->
        <h2>Datos personales</h2>
        <div class="div-datos">
            <div>
                <div>
                    <h4>Nombres(s)</h4>
                    <input type="text" placeholder="Ingresa el/los nombre(s) del estudiante">
                </div>
                <div>
                    <h4>Carnet de identidad</h4>
                    <input type="text" placeholder="Ingresa el número de carnet de identidad del estudiante">
                </div>
            </div>
            <div>
                <div>
                    <h4>Apellido paterno</h4>
                    <input type="text" placeholder="Ingresa el apellido paterno del estudiante">
                </div>
                <div>
                    <h4>Fecha de nacimiento</h4>
                    <input type="text" placeholder="dd/mm/aaaa">
                </div>
            </div>
            <div>
                <div>
                    <h4>Apellido materno</h4>
                    <input type="text" placeholder="Ingresa el apellido materno del estudiante">
                </div>
                <div>
                    <h4>Género</h4>
                    <input type="text" placeholder="Género">
                </div>
            </div>
        </div>
        <!-- estudiante-contacto -->
        <h2>Contacto</h2>
        <div class="div-contacto">
            <div>
                <h4>Correo electrónico</h4>
                <input type="text" placeholder="Ingresa el correo electrónico del estudiante">
            </div>
            <div>
                <h4>Celular</h4>
                <input type="text" placeholder="Ingresa el numero de celular del estudiante">
            </div>
        </div>
        <!-- estudiante-direccion -->
        <div class="div-direccion">
            <h4>Dirección</h4>
            <input type="text" placeholder="Ingresa la dirección del estudiante">
        </div>
        <!-- Detalle-registro -->
        <h2>Detalle registro</h2>
        <div class="div-datos">
            <div>
                <div>
                    <h4>Fecha de registro</h4>
                    <input type="text" placeholder="Ingresa el/los nombre(s) del estudiante">
                </div>
                <div>
                    <h4>Estado civil</h4>
                    <input type="text" placeholder="Ingresa el número de carnet de identidad del estudiante">
                </div>
            </div>
            <div>
                <div>
                    <h4>Lugar de residencia</h4>
                    <input type="text" placeholder="Ingresa el apellido paterno del estudiante">
                </div>
                <div>
                    <h4>Colegio del que se graduo</h4>
                    <input type="text" placeholder="dd/mm/aaaa">
                </div>
            </div>
            <div>
                <div>
                    <h4>Departamento</h4>
                    <input type="text" placeholder="Ingresa el apellido materno del estudiante">
                </div>
                <div>
                    <h4>Semestre</h4>
                    <input type="text" placeholder="Ingrese el semestre actual del estudiante">
                </div>
            </div>
        </div>
        <!-- Informacion de cuenta -->
        <h2>Información de cuenta</h2>
        <div class="div-datos">
            <div>
                <div>
                    <h4>Username</h4>
                    <input type="text" placeholder="Ingresa el nombre de usuario del estudiante">
                </div>
            </div>
            <div>
                <div>
                    <h4>Contraseña</h4>
                    <input type="text" placeholder="Ingresa contraseña segura">
                </div>
            </div>
            <div>
                <div>
                    <h4>Confirma contraseña</h4>
                    <input type="text" placeholder="Confirma contrañase segura">
                </div>
            </div>
        </div>
        <!-- Informacion de carrera -->
        <h2>Elección de carrera</h2>
        <div class="div-datos">
            <div>
                <div>
                    <h4>Carrera escogida</h4>
                    <input type="text" placeholder="Ingresa el nombre de usuario del estudiante">
                </div>
            </div>
        </div>
        <!-- Guardar -->
        <div class="div-guardar">
            <div>
                <div>
                    <hr>
                </div>
            </div>
            <div>
                <div>  
                    <button> Guardar </button>
                </div>
            </div>
            <div>
                <div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>