<div class="profile">
    <div style="background-image: url({{user.urlHeader}}); background-size: cover; background-position: center; color: white; min-height: 45vh;">
        <button class="image-header" (click)="imgHeader.click()">
            <i class="fa-solid fa-camera" style="font-size: 15px; color: white;"></i>
            &nbsp;Editar portada
        </button>
        <input type="file" accept="image/*" #imgHeader style="display:none" (change)="onFileSelectedHeader($event)">
    </div>
    <div class="center image-profile" style="align-items: start;">
        <img src="{{user.urlPfp}}" alt="Foto de perfíl" width="200px" style="border-radius: 100%; height: 200px;">
        <button class="image-pfp center" (click)="imgProfile.click()">
            <i class="fa-solid fa-camera" style="font-size: 15px; color: white;"></i>
        </button>
        <input type="file" accept="image/*" #imgProfile style="display:none" (change)="onFileSelectedPfp($event)">
    </div>
    <div class="container">
        <div class="informacion">
            <h3>Acerca de</h3>
            <br>
            <textarea [(ngModel)]="txtDescription" placeholder="Agrega una descripcion" >{{user.description}}</textarea>
            <!-- <input class="chapterTitle" [(ngModel)]="description" placeholder="Título del capítulo"> -->
        </div>
        <!-- Mensaje de advertencia -->
        <div #errorMessage class="warning">
            <p>Por favor, debe agregar una descripcion</p>
        </div>
        <div class="navigation">
            <button class="boton-guardar" (click)="guardarDatos()">Guardar</button>
            <a routerLink="/profile"><button class="boton-cancelar">Cancelar</button></a>
        </div>
    </div>
    <!--Mensaje de que todo salio bien y el estudiante fue registrado correctamente-->
    <div class="popup center" *ngIf="confirmationPopup">
        <div class="success center">
            <div>
                <div class="confirmation-content"><i class="fa-solid fa-circle-check" style="color: #30ff24;"></i></div>
                <div class="confirmation-content"><p>Actualizacion correcta de datos</p></div>
                <div class="confirmation-content"><button class="button-p" (click)="confirmationPopup = false">Aceptar</button></div>
            </div>
        </div>
    </div>
    <!--Mensaje de que algo salio mal al momento de registrar al estudiante-->
    <div class="popup center" *ngIf="errorPopup">
        <div class="success center">
            <div>
                <div class="confirmation-content"><i class="fa-solid fa-circle-xmark" style="color: #ff4d4d;"></i></div>
                <div class="confirmation-content"><p>Ocurrió un error, el estudiante no pudo<br>ser actualizado</p></div>
                <div class="confirmation-content"><button class="button-p" (click)="errorPopup = false">Aceptar</button></div>
            </div>
        </div>
    </div>
</div>
<!--Iconos-->
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css" integrity="tu-clave-de-api" crossorigin="anonymous">