<nav *ngIf="admin" class="navbar">
    <div class="center">
        <img class="logo" src="../../../favicon.ico"/>
        <h2>&nbsp;&nbsp;Sistema académico</h2>
    </div>
    <div class="nav-links">
        <a class="nav-link option" routerLink="/view-students">Estudiantes</a>
        <a class="nav-link option" routerLink="/view-teachers">Docentes</a>
    </div>
    <div class="logout">
        <a class="nav-link option" (click)="logout()">Cerrar sesión</a>
    </div>
</nav>
<nav *ngIf="user" class="navbar navbar-user">
    <div class="center">
        <img class="logo" src="../../../favicon.ico"/>
        <h2>&nbsp;&nbsp;Sistema academico</h2>
    </div>
    <div>
        <button class="btn-user center" (click)="showOptions = !showOptions">
          <img src="../../../assets/icons/usuario.png" width="35px" style="border-radius: 100%; height: 35px;">
          <span>{{name}}</span>
          <i class="fa-solid" [ngClass]="{'fa-caret-up': showOptions, 'fa-caret-down': !showOptions}"></i>
        </button>
        <div class="dropdown-menu" *ngIf="showOptions">
          <a class="dropdown-item" routerLink="/profile">Mi perfil</a>
          <hr>
          <a class="dropdown-item" (click)="showNotifications()">Notificaciones</a>
          <a class="dropdown-item" routerLink="/list-of-friends">Amigos</a>
          <hr>
          <a class="dropdown-item" (click)="logout()">Cerrar sesión</a>
        </div>
    </div>    
</nav>

<!--Modal de cerrar sesión-->
<div class="popup center" *ngIf="logoutPopup">
    <div class="success center">
        <div>
            <div class="confirmation-content">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </div>
            <div class="confirmation-content"><p>¿Está seguro que desea cerrar sesión?</p></div>
            <div class="confirmation-content buttons">
                <button class="green" (click)="confirm()">ACEPTAR</button>
                <button class="red" (click)="cancel()">CANCELAR</button>
            </div>
        </div>
    </div>
</div>

<!--Modal de notificaciones-->
<div class="popup center" *ngIf="showNotification">
    <div class="modal-notification center">
        <div class="notification">
            <div class="title">
                <h2>Notificaciones</h2>
                <div class="x-button" (click)="showNotifications()"><i class="fa-solid fa-xmark"></i></div>
            </div>
            <hr>
            <div *ngFor="let notification of notifications" class="notification-info">
                <h3>{{notification.mensaje}}</h3>
                <div class="friend-buttons">
                    <button class="green" (click)="responseFriend(notification.emisorId, true)">ACEPTAR</button>
                    <button class="red" (click)="responseFriend(notification.emisorId, false)">RECHAZAR</button>
                </div>
                <hr>
            </div>
            <div *ngIf="notifications.length == 0">
                <h3>Sin notificaciones nuevas</h3>
                <hr>
            </div>
        </div>
    </div>
</div>