<app-navbar [admin]="true" name="" uuidFoto=""></app-navbar>
<div class="add-teacher">
    <div class="container">
        <!-- Cabezera de la página -->
        <div class="header">
            <div class="icon-header center">
                <i class="fa-solid fa-user-plus" style="color: #ffa17a;"></i>
            </div>
            <div class="title-header">
                <div>
                    <h1>Registro de Docente</h1>
                    <h3>Acceda y gestione las inscripciones de docentes en nuestro sistema académico con privilegios de administrador.</h3>
                </div>
            </div>
        </div>
        <hr class="line"/>
        <!-- Datos docente -->
        <h2>Datos personales</h2>
        <div class="personal-information">
            <div>
                <h4>Nombres(s)</h4>
                <input #nombreInput type="text" placeholder="Ingresar el/los nombre(s) del docente" maxlength="150">
            </div>
            <div>
                <h4>Apellido paterno</h4>
                <input #apellidoPaternoInput type="text" placeholder="Ingresar apellido paterno del docente" maxlength="100">
            </div>
            <div>
                <h4>Apellido materno</h4>
                <input #apellidoMaternoInput type="text" placeholder="Ingresar apellido materno del docente" maxlength="100">
            </div>
            <div>
                <h4>Carnet de identidad</h4>
                <input #ciInput type="text" placeholder="Ingresa el CI del docente" maxlength="50" (input)="updatePassword()">
            </div>
            <div>
                <h4>Fecha de nacimiento</h4>
                <input #fechaNacimientoInput type="date" placeholder="dd/mm/aaaa">
            </div>
            <div>
                <h4>Género</h4>
                <select #generoSelect name="gender">
                    <option value="Hombre" selected>Hombre</option>
                    <option value="Mujer">Mujer</option>
                    <option value="No binario">No binario</option>
                    <option value="Prefiero no decirlo">Prefiero no decirlo</option>
                </select>
            </div>
        </div>
        <!-- Contacto docente -->
        <h2>Contacto</h2>
        <div class="contact-information">
            <div>
                <h4>Correo electrónico</h4>
                <input #correoInput type="email" placeholder="Ingresar el correo electrónico" maxlength="150">
            </div>
            <div>
                <h4>Celular</h4>
                <input #celularInput type="text" placeholder="Ingresar el número de celular" maxlength="50" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
            </div>
        </div>
        <!-- Docente - direccion -->
        <div class="direction">
            <h4>Dirección</h4>
            <input #direccionInput type="text" placeholder="Ingresar dirección completa" maxlength="150">
        </div>
        <!-- Detalle-registro -->
        <h2>Detalles del Registro</h2>
        <div class="personal-information">
            <div>
                <h4>Fecha de registro</h4>
                <p>{{fechaActual | date: 'dd/MM/yyyy'}}</p>
            </div>
            <div>
                <h4>Lugar de residencia</h4>
                <p>{{lugarResidencia}}</p>
            </div>
            <div>
                <h4>Departamento</h4>
                <p>{{departamento}}</p>
            </div>
            <div>
                <h4>Estado civil</h4>
                <select #estadoCivilSelect name="gender">
                    <option value="Soltero/a" selected>Soltero/a</option>
                    <option value="Casado/a">Casado/a</option>
                    <option value="Divorciado/a">Divorciado/a</option>
                    <option value="Viudo/a">Viudo/a</option>
                    <option value="Otro">Otro</option>
                </select>
            </div>
            <div></div>
            <div></div>
            <div>
                <h4>Username</h4>
                <input #usuarioInput type="text" placeholder="Ingresa el nombre de usuario del docente" maxlength="50">
            </div>
            <div>
                <h4>Contraseña</h4>
                <input #contrasenaInput type="text" disabled>
            </div>
        </div>
        <!-- Informacion de Personal -->
        <h2>Información de Personal</h2>
        <div class="personal-information">
            <div>
                <h4>Tipo de docente</h4>
                <select #tipoDocenteSelect name="typeTeacher">
                    <option *ngFor="let tipo of tipoDocentes" [value]="tipo">{{tipo}}</option>
                </select>
            </div>
            <div>
                <h4>Profesión</h4>
                <select #profesionSelect name="profession">
                    <option value="0" selected hidden>Seleccionar su profesión</option>
                    <option *ngFor="let profesion of profesiones" [value]="profesion.profesionId">{{profesion.nombreProfesion}}</option>
                </select>
            </div>
            <div></div>
            <div>
                <h4>Departamento</h4>
                <select #deptoSelect name="depto">
                    <option value="0" selected hidden>Seleccionar su departamento</option>
                    <option *ngFor="let depto of departamentos" [value]="depto.carreraId">{{depto.nombre}}</option>
                </select>
            </div>
            <div class="checkbox-content">
                <input #checkDirector type="checkbox" id="directorCarrera" name="directorCarrera" value="false">
                <label for="directorCarrera">Director de Carrera</label>
            </div>
        </div>
        <!-- Mensaje de advertencia -->
        <div #errorMessage class="warning">
            <p>Por favor, debe llenar todos los campos correspondientes</p>
        </div>
        <!-- Guardar -->
        <div class="save-button">
            <div><hr class="line"/></div>
            <div class="center">
                <button (click)="guardarDatos()">Guardar</button>
                <a href="/view-teachers">Cancelar</a>
            </div>
            <div><hr class="line"/></div>
        </div>
    </div>
    <!--Mensaje de que todo salio bien y el docente fue registrado correctamente-->
    <div class="popup center" *ngIf="confirmationPopup">
        <div class="success center">
            <div>
                <div class="confirmation-content"><i class="fa-solid fa-circle-check" style="color: #30ff24;"></i></div>
                <div class="confirmation-content"><p>El docente fue registrado correctamente</p></div>
                <div class="confirmation-content"><button (click)="confirmationPopup = false">Aceptar</button></div>
            </div>
        </div>
    </div>
    <!--Mensaje de que algo salio mal al momento de registrar al docente-->
    <div class="popup center" *ngIf="errorPopup">
        <div class="success center">
            <div>
                <div class="confirmation-content"><i class="fa-solid fa-circle-xmark" style="color: #ff4d4d;"></i></div>
                <div class="confirmation-content"><p>Ocurrió un error, el docente no pudo<br>ser registrado</p></div>
                <div class="confirmation-content"><button (click)="errorPopup = false">Aceptar</button></div>
            </div>
        </div>
    </div>
</div>