<app-navbar [admin]="true" name="" uuidFoto=""></app-navbar>
<div class="container">
    <h1>Menú principal</h1>
    <p>Explora las opciones a continuación para acceder fácilmente a las diferentes funcionalidades de nuestro sistema académico. Desde la gestión de estudiantes y docentes hasta la configuración académica, este menú es tu puerta de entrada a todas las herramientas que necesitas para administrar eficientemente la información educativa.</p>
    <div class="options">
        <a class="card student" href="/view-students">
            <i class="fa-solid fa-graduation-cap"></i>
            <h2>Gestión de estudiantes</h2>
            <p>En esta sección, puedes agregar, eliminar y actualizar la información de los estudiantes en la plataforma. Es tu espacio para manejar todo lo relacionado con los registros de estudiantes de manera fácil y rápida.</p>
        </a>
        <a class="card teacher" href="/view-teachers">
            <i class="fa-solid fa-user-tie"></i>
            <h2>Gestión de docentes</h2>
            <p>En esta sección, puedes agregar, eliminar y actualizar la información de los docentes en la plataforma. Es tu espacio para manejar todo lo relacionado con los registros de docentes de manera fácil y rápida.</p>
        </a>
        <a class="card config" href="/academic-settings">
            <i class="fa-solid fa-cog"></i>
            <h2>Configuración académica</h2>
            <p>Accede a esta sección para realizar configuraciones relacionadas con las carreras, profesiones y departamentos dentro del sistema académico. Aquí podrás llevar a cabo altas, bajas y modificaciones en las estructuras académicas, así como personalizar y adaptar la oferta educativa según las necesidades de la institución. Esta sección es clave para mantener actualizada y alineada la oferta académica con los objetivos educativos de la institución.</p>
        </a>
    </div>       
</div>