/*Background*/
.background {
    background: linear-gradient(to top right, #3EB7AE, #00A7C2, #0092CC, #5379C4, #8559A6, #9E3775);
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center {
    display: flex;
    flex-direction: column;
    width: 35%;
    background-color: #fff;
    border-radius: 10px;
    padding: 25px 40px;
}
.icons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 10px;
}

h1 {
    font-size: 34px;
    font-weight: 600;
    color: #003531;
    margin-bottom: 10px;
}
.subtitle {
    display: flex; 
    gap: 10px;
    align-items: flex-end;
    margin-bottom: 4px;
    margin-left: 5px;
}
.subtitle i {
    color: #383838;
    font-size: 16px;
}
p {
    font-size: 16px;
    color: #383838;
    font-weight: 600;
}

h2 {
    font-size: 14px;
    font-weight: 500;
    color: #003531;
    margin: 0 0 10px 0;
}

.send-code {
    display: flex;
    justify-content: center;
    align-items: center;
}
.send-code h2 {
    margin: 5px 0 0 0;
    cursor: pointer;
}
.send-code h2:hover {
    color: #3EB7AE;
}

.password {
    position: relative;
}
.password i {
    position: absolute;
    transform: translateY(-50%);
    color: #757575;
    cursor: pointer;
    margin-top: 16px;
    right: 12px;
}
input {
    font-family: 'Montserrat', sans-serif !important;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 15px;
    color: #383838;
    font-weight: 500;
    outline: none;
}
input:focus {
    border: 1px solid #3EB7AE;
}

.button-space {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}
button {
    font-family: 'Montserrat', sans-serif !important;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    outline: none;
}
.confirm {
    background-color: #3EB7AE;
}
.confirm:hover {
    background-color: #2a9c95;
}
.cancel {
    background-color: #ff7171;
}
.cancel:hover {
    background-color: #e65c5c;
}

/* ------------------- Mensaje de error ------------------- */
.error-message {
    color: #ff0000;
    font-size: 14px;
    font-weight: 550;
    margin: 5px 0 0 0;
    text-align: end;
    display: none;
}
.error-message.show {
    display: block;
}
/* ------------------- Mensaje de confirmacion ------------------- */
.confirm-message {
    color: #23df1c;
    font-size: 14px;
    font-weight: 550;
    margin: 10px 0 0 0;
    text-align: end;
    display: none;
}
.confirm-message.show {
    display: block;
}