<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css" integrity="tu-clave-de-api" crossorigin="anonymous">
<div class="background">
    <div class="center">
        <div class="icons">
            <img src="../../../assets/blindaje.gif" alt="Blindaje" width="80px;">
        </div>
        <div *ngIf="step==1">
            <h1>Cambio de Contraseña</h1>
            <div class="subtitle">
                <i class="fa-solid fa-envelope"></i>
                <p>Introduce tu correo electrónico:</p>
            </div>
            <input type="text" placeholder="Ingrese su correo electrónico" [(ngModel)]="email"/>
            <div #errorMessage class="error-message">Lo siento, el correo ingresado no es válido.</div>
            <div class="button-space">
                <button class="confirm" (click)="confirmarCorreo()">
                    CONFIRMAR CORREO
                    <i *ngIf="loadingFlag" class="fas fa-spinner fa-spin" style="color: white; font-size: 12px; font-weight: 500;"></i>
                </button>
                <button class="cancel" (click)="cancelar()">CANCELAR</button>
            </div>
        </div>
        <div *ngIf="step==2">
            <h1 style="margin-bottom: 2px;">Cambio de Contraseña</h1>
            <h2>Se le ha enviado un código de verificación a su correo electrónico</h2>
            <div class="subtitle">
                <i class="fa-solid fa-code"></i>
                <p>Introduce el código de verificación:</p>
            </div>
            <input type="text" placeholder="Ingrese el código" [(ngModel)]="code"/>
            <div #errorMessage class="error-message">Lo siento, el código ingresado no es válido.</div>
            <div class="send-code">
                <h2 (click)="enviarCodigo()">¿No recibiste el código? Reenviar código</h2>
            </div>
            <div class="button-space">
                <button class="confirm" (click)="confirmarCodigo()">
                    CONFIRMAR CÓDIGO
                    <i *ngIf="loadingFlag" class="fas fa-spinner fa-spin" style="color: white; font-size: 12px; font-weight: 500;"></i>
                </button>
                <button class="cancel" (click)="cancelar()">CANCELAR</button>
            </div>
        </div>
        <div *ngIf="step==3">
            <p>Introduce tu nueva contraseña a continuación:</p>
            <div class="password">
                <input [type]="showPassword ? 'text' : 'password'" placeholder="Ingrese su nueva contraseña" [(ngModel)]="password" />
                <i style="color: #757575;" [ngClass]="showPassword ? 'fas fa-eye' : 'fas fa-eye-slash'" (click)="toggleShowPassword()"></i>
            </div>
            <div #errorMessage class="error-message">Lo siento, ocurrió un error al cambiar la contraseña.</div>
            <div class="button-space">
                <button class="confirm" (click)="confirmarCambio()">
                    CONFIRMAR CAMBIO
                    <i *ngIf="loadingFlag" class="fas fa-spinner fa-spin" style="color: white; font-size: 12px; font-weight: 500;"></i>
                </button>
                <button class="cancel" (click)="cancelar()">CANCELAR</button>
            </div>
            <div #confirmMessage  class="confirm-message">
                Contraseña actualizada con éxito
            </div>
        </div>
    </div>
</div>