<div class="profile">
    <div class="portada">
        <img src={{user.urlHeader}} alt="Imagen de portada">
        <div class="perfil">
            <div class="imagen">
                <button class="boton-img" >
                    <i class="fa-solid fa-camera" style="font-size: 28px; color: #ffffff;"></i>
                </button>

                <img src={{user.urlPfp}} alt="Foto de perfil">
             
            </div>
            
        </div>
        <button class="boton">Editar portada</button>
    </div>
    <div class="container">
        <div class="header">
            <div></div>
            <div >
                
            </div>
            <div>
            </div>

        </div>
        <div class="informacion">
            <div class="data">
                <h3>Acerca de</h3>
                <br>
                <textarea [(ngModel)]="txtDescription" placeholder="Agrega una descripcion" >{{user.description}}</textarea>
                <!-- <input class="chapterTitle" [(ngModel)]="description" placeholder="Título del capítulo"> -->
            </div>
        </div>
        <div class="navigation">
            <a routerLink="/profile-teacher"><button class="boton-cancelar">Cancelar</button></a>
            <button class="boton-guardar" (click)="guardarDatos()">Guardar</button>
        </div>
        <!-- Mensaje de advertencia -->
        <div #errorMessage class="warning">
            <p>Por favor, debe agregar una descripcion</p>
        </div>
    </div>
    <!--Mensaje de que todo salio bien y el estudiante fue registrado correctamente-->
    <div class="popup center" *ngIf="confirmationPopup">
        <div class="success center">
            <div>
                <div class="confirmation-content"><i class="fa-solid fa-circle-check" style="color: #30ff24;"></i></div>
                <div class="confirmation-content"><p>Actualizacion correcta de datos</p></div>
                <div class="confirmation-content"><button class="button-p" (click)="confirmationPopup = false">Aceptar</button></div>
            </div>
        </div>
    </div>
    <!--Mensaje de que algo salio mal al momento de registrar al estudiante-->
    <div class="popup center" *ngIf="errorPopup">
        <div class="success center">
            <div>
                <div class="confirmation-content"><i class="fa-solid fa-circle-xmark" style="color: #ff4d4d;"></i></div>
                <div class="confirmation-content"><p>Ocurrió un error, el estudiante no pudo<br>ser actualizado</p></div>
                <div class="confirmation-content"><button class="button-p" (click)="errorPopup = false">Aceptar</button></div>
            </div>
        </div>
    </div>
    
</div>
<!--Iconos-->
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css" integrity="tu-clave-de-api" crossorigin="anonymous">