<app-navbar [user]="true"></app-navbar>
<div class="profile">
    <div class="portada">
        <img src={{user.urlHeader}} alt="Imagen de portada">
        <div class="perfil">
            <div class="imagen">
                <img src={{user.urlPfp}} alt="Foto de perfil">
            </div>
        </div>
        <a routerLink="/profile-edit"><button class="boton">Editar perfil</button></a>
    </div>
    <div class="container">
        <div class="datos">
            <div>
                <h5>Nombre del estudiante docente</h5>
            </div>
            <div class="right">
                <div>
                    <h4>Estudiante/Docente</h4>
                </div>
                <br>
                <div class="carrera">
                    <h4>Carrera/Departemento</h4>
                </div>
            </div>  
        </div>
        <div class="header">
            <div></div>
            <div class="margen">
                <a routerLink="/profile"><h1>Mi perfil</h1></a>
            </div>
            <div>
                <a routerLink="/profile-info"><h2>Información</h2></a>
            </div>
        </div>
        <div class="informacion">
            <div class="data">
                <h3>Acerca de</h3>
                <br>
                <h4>{{user.description}}</h4>
            </div>
            <div>
                <div class="data">
                    <h3>Cuenta</h3>
                    <br>
                    <h4>Se unio el {{registroDia}} de septiembre de {{registroYear}}</h4>
                </div>
                <div class="data" style="height: 300px; ">
                    <div style="display: flex;">
                        <h3>Amigos</h3>
                        <div class="amigo">2</div>
                    </div>
                    <div class="data-amigo">
                        <img src={{user.urlPfp}} alt="Foto de perfil" class="pfpfriend">
                        <h4>Micaela</h4>
                    </div>
                    <div class="data-amigo">
                        <img src={{user.urlPfp}} alt="Foto de perfil" class="pfpfriend">
                        <h4>Micaela</h4>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>