/*Quitar los estilos generales*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
/*Background*/
.profile {
  background-color: #ffffff;
  min-height: 100%;
  box-sizing: border-box;
}
/*Contenedor*/
.container {
  background-color: #ffffff;
  box-sizing: border-box;
  margin: 0 8% 20px 8%;
}
/*Establece estilos para el contenedor de la portada */
.portada {
  position: relative;
  width: 100%;
  height: 40vh; /* Una cuarta parte de la altura de la pantalla */
}
/* Establece estilos para la imagen de portada */
.portada img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para cubrir todo el contenedor */
}
/* Establece estilos para el contenedor de la foto de perfil */
.perfil {
  position: absolute;
  top: 23vh;
  left: 8%;
  display: center;
  width: 30vh; /* La mitad de la foto de perfil está dentro de la portada */
  height: 30vh; /* Altura igual a la de la portada */
  background-color: #fff;
  border-radius: 50%;
  padding: 8px;
}
/* Establece estilos para la foto de perfil */
.perfil img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen de perfil para cubrir todo el contenedor */
  border-radius: 50%;
}
/* Establece estilos para el botón en la esquina inferior derecha */
.boton {
  position: absolute;
  bottom: 10px; /* Ajusta la distancia desde la parte inferior */
  right: 10px; /* Ajusta la distancia desde la parte derecha */
  padding: 10px 20px; /* Ajusta el tamaño del botón */
  background-color: #3EB7AE; /* Cambia el color de fondo */
  color: white; /* Cambia el color del texto */
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-family: sans-serif;
  border-radius: 5%;
}
.boton:hover {
  background-color: #3EB7AE;
  opacity: 0.8;
}
.datos{
  display: flex;
  flex-direction: column; 
  align-items: flex-end;
  height: 14vh;
  padding: 20px 0 0 0;
  gap: 10px;
}
.carrera{
  background-color: #D9D9D9;
  border-radius: 10px;
  padding: 7px;
}
.pfpfriend{
  width: 10%;
  height: 10%;
}
.data-amigo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3%;
  margin-top: 7px;
}
.header{
  margin-top: 15px;
  display: grid;
  grid-template-columns: 17% 17% 20% 43%;
  column-gap: 1%;
  display: center;
  justify-content: center;
  border-bottom: 1px solid #CBCBCB;
}
.informacion{
  margin-top: 2vh;
  display: grid;
  grid-template-columns: 69% 30%;
  gap: 1%;
  display: center;
  justify-content: center;
  height: 400px;
}
.data{
  border: #CBCBCB 1px solid;
  border-radius: 5px;
  padding: 15px 20px;
  margin-bottom: 10px;
}
.margen{
  border-bottom: 3px solid #3EB7AE;;
}
.amigo{
  border-radius: 50%;
  background-color: #FFBDE5;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  color: #9E3775;
}

/*tipografia*/
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
}	
h1, h2 {
  padding: 0 0 5px 10px;
}
h1, h3 {
  color: #003531;
}
h2 {
  color: #757575;
}
h3 {
  padding-bottom: 10px;
}
h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #6B6B6B
}
h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: black;
}
a {
  text-decoration: none;
  cursor: pointer;
}

/*-----------------------------------------Publicaciones-----------------------------------------*/
.publicaciones {
  margin: 20px 15%;
  display: flex;
  flex-direction: column;
}
textarea{
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  border: #CBCBCB 1px solid;
  border-radius: 5px;
  padding: 15px 20px;
  outline: none;
  width: 100%;
}
.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.button-post {
  background-color: #3EB7AE;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 15px;
  font-family: sans-serif;
}
.button-post:hover {
  background-color: #3EB7AE;
  opacity: 0.8;
}
h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: red;
  margin-top: 10px;
}
.my-publication {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 35px 1fr;
  column-gap: 10px;
  border: #CBCBCB 1px solid;
  border-radius: 5px;
  padding: 15px 20px;
  position: relative;
}
.delete-post {
  position: absolute;
  top: 6px;
  right: 9px;
  font-size: 18px;
  font-weight: 600;
  color: #757575;
  cursor: pointer;
}
.delete-post:hover {
  color: #003531;
}
.my-publication-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.img-post {
  width: 35px;
  height: 35px; 
  border-radius: 100%;
}
.answers {
  margin: 10px 0 0 45px;
  display: grid;
  grid-template-columns: 35px 1fr;
  column-gap: 10px;
  border: #CBCBCB 1px solid;
  border-radius: 5px;
  padding: 15px 20px;
}
/*-----------------------------------------Popup-----------------------------------------*/
/* Estilo para el fondo oscuro */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}
/* Estilo para centrar el cuadro de diálogo */
.custom-confirm-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2%;
  border-radius: 4px;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}  
/* Estilo para botones */
.custom-confirm-dialog button {
  margin-right: 10px;
}
.dialog-actions{
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.div-trash {
  height: 50px;
  width: 50px;
  border: none;
  text-align: center;
  z-index: 1;
  overflow: hidden;
  text-transform: capitalize;
  position: relative;
  color: #FF0000;
  background-color: #FFDBDB;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trash-1{
  width: 30px;
}
.h5-popup {
  font-size: 20px;
  font-weight: 600;
  color: black;
  font-family: 'Roboto', sans-serif;
  margin-top: 15px;
}
.p-popup {
  font-size: 14px;
  font-weight: 200;
  color: #757575;
  font-family: 'Roboto', sans-serif;
  margin-top: 10px;
}
/*Estilos botones popup*/
.Aceptar {
  border-radius: 5px;
  color: white;
  background-color: #5EFF64;
  border: none;
  cursor: pointer;
  padding: 6px 20px;
}
.Aceptar:hover {
  background-color: #5EFF64;
  opacity: 0.8;
}
.Cancelar {
  border-radius: 5px;
  color: white;
  background-color: #FF4343;
  border: none;
  cursor: pointer;
  padding: 6px 20px;
}
.Cancelar:hover {
  background-color: #FF4343;
  opacity: 0.8;
}