<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css" integrity="tu-clave-de-api" crossorigin="anonymous">
<app-navbar [user]="true" [name]="name" [uuidFoto]="uuidFoto"></app-navbar>
<div class="profile">
    <div class="portada">
        <img src={{user.uuidPortada}} alt="Imagen de portada">
        <div class="perfil">
            <img src={{user.uuidFoto}} alt="Foto de perfil">
        </div>
    </div>
    <div class="container">
        <div class="datos">
            <h4>{{user.rol}}</h4>
            <div class="carrera">
                <h4>{{user.correo}}</h4>
            </div>
            <div>
                <button *ngIf="typeFriend == 2" (click)="addFriend()" class="agregar">Agregar como amigo</button>
                <div *ngIf="typeFriend == 3" class="pendiente">Solicitud pendiente</div>
                <div *ngIf="typeFriend == 1" class="amigos">Amigo</div>
            </div>
        </div>
        <div><h5>{{user.nombre}} {{user.apellidoPaterno}} {{user.apellidoMaterno}}</h5></div>
        <div class="header" *ngIf="firstOption">
            <div class="margen">
                <a><h1>Mi perfil</h1></a>
            </div>
            <div>
                <a (click)="secondOptionChange()"><h2>Información</h2></a>
            </div>
            <div>
                <a (click)="thirdOptionChange()"><h2>Publicaciones</h2></a>
            </div>
        </div>
        <div class="header" *ngIf="secondOption">
            <div>
                <a (click)="firstOptionChange()"><h2>Mi perfil</h2></a>
            </div>
            <div class="margen">
                <a><h1>Información</h1></a>
            </div>
            <div>
                <a (click)="thirdOptionChange()"><h2>Publicaciones</h2></a>
            </div>
        </div>
        <div class="header" *ngIf="thirdOption">
            <div>
                <a (click)="firstOptionChange()"><h2>Mi perfil</h2></a>
            </div>
            <div>
                <a (click)="secondOptionChange()"><h2>Información</h2></a>
            </div>
            <div class="margen">
                <a><h1>Publicaciones</h1></a>
            </div>
            <div></div>
        </div>
        <div class="informacion" *ngIf="!thirdOption">
            <div class="data" *ngIf="firstOption">
                <h3>Acerca de</h3>
                <h4>{{user.descripcion}}</h4>
            </div>
            <div class="data" *ngIf="secondOption">
                <h4> Información</h4>
                <h4>Información básica</h4>
                <h4>* Organización : Regional La Paz</h4>
                <h4>* Género : {{user.genero}}</h4>
                <h4>* Lugar de residencia: Bolivia</h4>
                <h4>Contacto</h4>
                <h4>* Correo electrónico :  {{user.correo}}</h4>
                <h4>Personalizado</h4>
                <h4>* Registro UCB : {{user.userId}}</h4>
            </div>
            <div>
                <div class="data">
                    <h3>Cuenta</h3>
                    <h4>Se unio el {{user.fechaRegistro}}</h4>
                </div>
                <div class="data" style="height: 300px; ">
                    <div style="display: flex;">
                        <h3>Amigos</h3>
                        <div class="amigo">{{countFriends}}</div>
                    </div>
                    <div *ngFor="let friend of friendsList" class="data-amigo">
                        <img src="../../../assets/icons/usuario.png" alt="Foto de perfil" class="pfpfriend">
                        <a href="{{friend.userId}}/profile"><h4>{{friend.nombre}} {{friend.apellidoPaterno}} {{friend.apellidoMaterno}}</h4></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="publicaciones" *ngIf="thirdOption">
            <div *ngFor="let publication of  publicationList; let i = index">
                <div class="my-publication">
                    <img class="img-post" src={{user.uuidFoto}}>
                    <div class="my-publication-info">
                        <h4>{{formatoFecha(publication.fecha)}}</h4>
                        <p>{{publication.descripcion}}</p>
                    </div>
                </div>
                <div class="answers" *ngFor="let answer of publication.respuestas">
                    <i *ngIf="answer.userId.toString() == myId" class="fa-solid fa-xmark delete-post" (click)="deleteAnswer(publication, answer, i)"></i>
                    <img class="img-post" src="{{answer.uuidFoto}}">
                    <div class="my-publication-info">
                        <h4>{{formatoFecha(answer.fecha)}}</h4>
                        <p style="font-weight: 600;">{{answer.nombre}}</p>
                        <p>{{answer.descripcion}}</p>
                    </div>
                </div>
                <div class="response" *ngIf="typeFriend == 1">
                    <textarea [(ngModel)]="respuesta[i]" class="publicacion" placeholder="¿Qué estás pensando?" maxlength="254" rows="4" style="resize:none;"></textarea>
                    <h6 *ngIf="errorPost[i]">{{errorMessage[i]}}</h6>
                    <div class="buttons">
                        <button class="button-post" (click)="postear(publication, i)">Publicar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Popup -->
<div class="overlay" *ngIf="isDialogVisible">
    <div class="custom-confirm-dialog">
        <div class="dialog-content">
            <div class="div-trash"> <img src="../../../assets/icons/trash.svg" alt="eliminar" class="trash-1"></div>
            <h5 class="h5-popup">Confirmación de Eliminación de Respuesta</h5>
            <p class="p-popup">¿Estás seguro de que deseas eliminar esta respuesta? Esta acción no se puede deshacer. Por favor, confirma tu elección.</p>
        </div>
        <div class="dialog-actions">
            <button (click)="confirmDelete()" class="Aceptar">
                Confirmar
                <i *ngIf="deleteFlag" class="fas fa-spinner fa-spin" style="color: white; font-size: 12px; font-weight: 500;"></i>
            </button>
            <button (click)="cancelDelete()" class="Cancelar">Cancelar</button>
        </div>
    </div>
</div>