<div class="formulario">
    <div>
        <h3>Profesión</h3>
        <input type="text" [(ngModel)]="nombre">
    </div>
    <div *ngIf="emptyMessage" class="empty-message">
        <h5>Por favor, ingrese el nombre de la profesión.</h5>
    </div>
    <div class="buttons">
        <button class="add" (click)="addProf()" *ngIf="!modeEdit">AGREGAR PROFESIÓN</button>
        <div class="edit-buttons" *ngIf="modeEdit">
            <button class="add" (click)="updateProf()">EDITAR PROFESIÓN</button>
            <button class="cancel" (click)="cancelEdit()">CANCELAR</button>
        </div>
    </div>
</div>
<div class="lista">
    <table>
        <thead>
            <tr>
                <th>Nro</th>
                <th>Profesión</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let profesion of profesiones; let i = index">
                <td class="center">{{i + 1}}</td>
                <td>{{profesion.nombreProfesion}}</td>
                <td class="center options">
                    <i (click)="editProf(profesion)" class="fa-solid fa-pen edit-button"></i>
                    <i (click)="deleteProf(profesion)" class="fa-solid fa-trash delete-button"></i>
                </td>
            </tr>            
        </tbody>
    </table>
</div>
<!--Modal de mensaje-->
<div class="overlay" *ngIf="showPopup">
    <div class="popup">
        <i class="{{popupIcon}}"></i>
        <h2>{{popupTitle}}</h2>
        <h3>{{popupMessage}}</h3>
    </div>
</div>
<!--Modal de confirmación-->
<div class="overlay" *ngIf="showPopupDelete">
    <div class="popup">
        <i class="fa-solid fa-trash gradient-red"></i>
        <h2>Confirmación</h2>
        <h3>¿Estás segur@ de eliminar la profesión?</h3>
        <div class="edit-buttons" style="margin-top: 8px;">
            <button class="add" (click)="confirmDelete()">ACEPTAR</button>
            <button class="cancel" (click)="cancelDelete()">CANCELAR</button>
        </div>
    </div>
</div>