<app-navbar [admin]="true" name="" uuidFoto=""></app-navbar>
<div class="view-students">
    <div class="header">
        <div class="circle">
            <i class="fa-solid fa-graduation-cap"></i>
        </div>
        <div>
            <h1>Lista de Estudiantes</h1>
            <p>Explora la lista completa de estudiantes inscritos y su información relevante. Aquí puedes encontrar lo que necesitas para brindar el mejor apoyo académico.</p>
        </div>
    </div>
    <div class="button">
        <button class="import" (click)="importExcel.click()">
            <span>IMPORTAR DESDE EXCEL</span>
        </button>
        <!-- upload.component.html -->
        <input #importExcel type="file" accept=".xlsx, .xls" style="display: none;" (change)="onFileChange($event)"/>
        <button class="add" (click)="addStudent()">
            <span>AGREGAR NUEVO</span>
        </button>
    </div>
    <div class="options-list">
        <!-- <div class="paginacion">
            <p>Registros por página</p><input type="number" id="miInput" name="miInput" min="1" [(ngModel)]="inputValue2" (input)="onInputChange()">
            <input type="number" min="1" [(ngModel)]="inputValue1" (input)="onInputChange()">
        </div> -->
        <div class="paginacion">
            <div class="paginator-container">
                <div class="page-info">
                    Registros por página
                </div>
                <select [(ngModel)]="inputValue2" name="size" (ngModelChange)="onInputChange()">
                    <option value="5" selected hidden>5</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                </select>   
                <div class="page-info">
                    {{ inicio }} - {{ fin }} de {{total}}
                </div>
                <button (click)="onPageChange(paginaActual - 1)" [disabled]="paginaActual === 1">
                  <span>&lt;</span>
                </button>
                <button (click)="onPageChange(paginaActual + 1)" [disabled]="paginaActual * inputValue2 >= listaElementos.length">
                  <span>&gt;</span>
                </button>
            </div>
        </div>
        <div class="options">
            <div class="search">
                <i class="fa-solid fa-search"></i>
                <input [(ngModel)]="searchText" (input)="onInputChange()" type="text" placeholder="Ingresa el nombre del estudiante">
            </div>
            <div class="search">
                <i class="fa-solid fa-search"></i>
                <input [(ngModel)]="searchCI" (input)="onInputChange()" type="text" placeholder="Ingresa carnet del estudiante">
            </div>
            <!-- <input class="search" type="number" min="1" [(ngModel)]="inputValue3" (input)="onInputChange()">       -->
            <select [(ngModel)]="inputValue3" name="semestre" (ngModelChange)="onInputChange()">
                <option value="" selected>Seleccione el semestre</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>                
            <select [(ngModel)]="inputValue4" name="carrera" (ngModelChange)="onInputChange()">
                <option value="" selected>Seleccione la carrera</option>
                    <option *ngFor="let carrera of carreras" [value]="carrera.carreraId">{{carrera.sigla}} - {{carrera.nombre}}</option>
            </select>   
        </div>
        <div class="list">
            <div class="student" *ngFor="let student of students">
                <img src="{{student.uuidFoto}}" alt="student">
                <div class="student-info">
                    <h2>{{student.apellidoPaterno}} {{student.apellidoMaterno}}, {{student.nombre}}</h2>
                    <h3>CI: {{student.carnetIdentidad}} | {{student.correo}}</h3>
                </div>
                <i (click)="pdfReport(student)" class="fa-regular fa-file-pdf pdf-button"></i>
                <i (click)="editStudent(student.estudianteId)" class="fa-solid fa-pen edit-button"></i>
                <i (click)="openConfirmationDialog(student.userId)" class="fa-solid fa-trash delete-button"></i>
            </div>
        </div>
    </div>

    <!-- <div class="content">
        <div *ngFor="let elemento of listaElementos.slice((paginaActual - 1) * elementosPorPagina, paginaActual * elementosPorPagina)">
          {{ elemento }}
        </div>
    </div>
      
      <div class="paginator-container">
        <button (click)="onPageChange(paginaActual - 1)" [disabled]="paginaActual === 1">
          <span>&lt;</span>
        </button>
        <div class="page-info">
          Página {{ paginaActual }} de {{ listaElementos.length / elementosPorPagina > 1 ? paginaActual + 1 : paginaActual }}
        </div>
        <button (click)="onPageChange(paginaActual + 1)" [disabled]="paginaActual * elementosPorPagina >= listaElementos.length">
          <span>&gt;</span>
        </button>
      </div> -->
    <!--Mensaje de que algo salio mal al momento de registrar-datos duplicados-->
    <div class="popup center" *ngIf="hasDuplicates">
        <div class="success center">
            <div>
                <div class="confirmation-content"><i class="fa-solid fa-circle-xmark" style="color: #ff4d4d;"></i></div>
                <div class="confirmation-content"><p>Ocurrió un error, al momento de registrar<br>Se encotraron datos duplicados, por favor revisarlos</p></div>
                <div class="confirmation-content"><button class="button-popup" (click)="hasDuplicates = false">Aceptar</button></div>
            </div>
        </div>
    </div>
    <!--Mensaje de que algo salio mal al momento de registrar formato de datos incorrecto-->
    <div class="popup center" *ngIf="hasInvalidData">
        <div class="success center">
            <div>
                <div class="confirmation-content"><i class="fa-solid fa-circle-xmark" style="color: #ff4d4d;"></i></div>
                <div class="confirmation-content"><p>Ocurrió un error, al momento de registrar<br>Formato de datos incorrecto, por favor revisarlos</p></div>
                <div class="confirmation-content"><button class="button-popup" (click)="hasInvalidData = false">Aceptar</button></div>
            </div>
        </div>
    </div>
    <!--Mensaje de que todo salio bien y el estudiante fue registrado correctamente-->
    <div class="popup center" *ngIf="confirmationPopup">
        <div class="success center">
            <div>
                <div class="confirmation-content"><i class="fa-solid fa-circle-check" style="color: #30ff24;"></i></div>
                <div class="confirmation-content"><p>El registro de los estudiantes se realizo con exito</p></div>
                <div class="confirmation-content"><button class="button-popup" (click)="confirmationPopup = false">Aceptar</button></div>
            </div>
        </div>
    </div>
</div>

<!-- Popup -->
<div class="overlay" *ngIf="isDialogVisible"></div> <!-- Fondo oscuro -->
<div class="custom-confirm-dialog" *ngIf="isDialogVisible">
  <div class="dialog-content">
    <div class="div-trash"> <img src="../../../assets/icons/trash.svg" alt="eliminar" class="trash-1"></div>
    <h5>Confirmación de Eliminación de Estudiante</h5>
    <p>¿Estás seguro de que deseas eliminar a este usuario de la lista? Esta acción no se puede deshacer. Por favor, confirma tu elección.</p>
  </div>
  <div class="dialog-actions">
    <button (click)="confirmDelete()" class="Aceptar">Confirmar</button>
    <button (click)="cancelDelete()" class="Cancelar">Cancelar</button>
  </div>
</div>