/*General*/
.view-students {
    margin: 20px 4%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}
/*Título*/
.header {
    display: grid;
    grid-template-columns: 70px calc(100% - 90px);
    gap: 20px;
    align-items: center;
}
.circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #FFB0E0;
    color: #9E3775;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}
h1 {
    margin: 0;
    font-size: 30px;
    font-weight: 600;
    color: #003531;
}
p {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    color: #383838;
}
/*Boton*/
.button {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0 0 0;
}
.button button {
    border: none;
    border-radius: 5px;
    background-color: #b86396;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    padding: 8px 20px;
}
.button button:hover {
    background-color: #9E3775;
}
.paginacion{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    gap: 10px;
}
/*Listas*/
.options-list {
    margin: 0 0 0 90px;
    display: flex;
    flex-direction: column;
}
.options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 15px 0;
}
.search {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #CBCBCB;
    border-radius: 5px;
    padding-left: 10px;
}
.search i {
    color: #CBCBCB;
    font-weight: 500;
}
.search input {
    width: 100%;
    border: none;
    padding: 5px 10px 5px 5px;
    font-size: 14px;
    font-weight: 400;
    color: #383838;
    outline: none;
    border-radius: 5px;
}
.search:hover {
    border: 1px solid #9E3775;
}
.search:hover i {
    color: #9E3775;
}
select {
    border: 1px solid #CBCBCB;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 400;
    color: #383838;
    outline: none;
    cursor: pointer;
}
/*Registro de estudiantes*/
.student {
    display: flex;
    align-items: center;
    border: 1px solid #CBCBCB;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
}
.student img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 15px 0 0;
}
.student-info {
    flex-grow: 1;
}
.student-info h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: #383838;   
}
.student-info h3 {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #757575;
}
.student i {
    font-size: 50px;
    cursor: pointer;
}
.student button {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    background-color: #FFEBEB;
    color: #f57878;
    cursor: pointer;
    margin: 0 0 0 12px;
}
.student button i {
    font-size: 25px;
}