<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css" integrity="tu-clave-de-api" crossorigin="anonymous">

<div class="list-of-friends">
    <div class="container">
        <!-- Cabezera de la página -->
        <div class="header">
            <div class="icon-header center">
                <i class="fa-solid fa-user-group fa-flip-horizontal" style="color: #9E3775;"></i>
            </div>
            <div class="title-header">
                <div>
                    <h1>Lista de Amigos</h1>
                    <h3>Explora tu lista de amigos y conexiones en nuestra comunidad educativa. Mantén un vínculo cercano con tus colegas y compañeros de estudio.</h3>
                </div>
            </div>
        </div>
        <div class="datos">
            <!-- Buscador amigos -->
            <input placeholder="Buscar amigos">
            <!-- Listado de amigos -->
            <div class="usuario">
                <div class="imagen">
                    <img src="../../../assets/icons/usuario.png" alt="Foto de perfil">
                </div>
                <div class="informacion">
                    <div>
                        <h2>Nombre de estudiante</h2>
                        <h4>Departamento/carrera</h4>
                    </div>
                </div>
                <div class="botones">
                    <button class="button-red" >Eliminar</button>
                </div>
            </div>
            <div class="usuario">
                <div class="imagen center">
                    <img src="../../../assets/icons/usuario.png" alt="Foto de perfil">
                </div>
                <div class="title-header">
                    <div>
                        <h2>Nombre de estudiante</h2>
                        <h4>Departamento/carrera</h4>
                    </div>
                </div>
                <div class="botones">
                    <button class="button-red" >Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>
