<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css" integrity="tu-clave-de-api" crossorigin="anonymous">

<div class="list-of-friends">
    <div class="container">
        <!-- Cabezera de la página -->
        <div class="header">
            <div class="icon-header center">
                <i class="fa-solid fa-user-group fa-flip-horizontal" style="color: #9E3775;"></i>
            </div>
            <div class="title-header">
                <div>
                    <h1>Lista de Amigos</h1>
                    <h3>Explora tu lista de amigos y conexiones en nuestra comunidad educativa. Mantén un vínculo cercano con tus colegas y compañeros de estudio.</h3>
                </div>
            </div>
        </div>
        <div class="datos">
            <!-- Buscador amigos -->
            <input placeholder="Buscar amigos">
            <!-- Listado de amigos -->
            <div class="usuario" *ngFor="let friend of friends">
                <div class="imagen">
                    <img src="../../../assets/icons/usuario.png" alt="Foto de perfil">
                </div>
                <div class="informacion">
                    <div>
                        <h2>{{friend.Nombre}} {{friend.Apellido}}</h2>
                        <h4>{{friend.Carrera}}</h4>
                    </div>
                </div>
                <div class="botones">
                    <button class="button-red" (click)="openConfirmationDialog()"> <img src="../../../assets/icons/trash.svg" alt="eliminar" class="trash"></button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Popup -->
<div class="overlay" *ngIf="isDialogVisible"></div> <!-- Fondo oscuro -->
<div class="custom-confirm-dialog" *ngIf="isDialogVisible">
  <div class="dialog-content">
    <div class="div-trash"> <img src="../../../assets/icons/trash.svg" alt="eliminar" class="trash-1"></div>
    <h5>Confirmación de Eliminación de Amigo</h5>
    <p>¿Estás seguro de que deseas eliminar a este usuario de tu lista de amigos? Esta acción no se puede deshacer. Por favor, confirma tu elección.</p>
  </div>
  <div class="dialog-actions">
    <button (click)="confirmDelete()" class="Aceptar">Confirmar</button>
    <button (click)="cancelDelete()" class="Cancelar">Cancelar</button>
  </div>
</div>