<div class="profile">
    <div class="portada">
        <img src="./assets/icons/portada-arboles.jpg" alt="Imagen de portada">
        <div class="perfil">
            <div class="imagen">
                
                <img src="./assets/icons/usuario.png" alt="Foto de perfil">
             
            </div>
            
        </div>
        
    </div>
    <div class="container">
        <div class="header">
            <div></div>
            <div >
                <a routerLink="/profile"><h2>Mi perfil</h2></a>
            </div>
            <div class="margen">
                <a routerLink="/profile-info"><h1>Información</h1></a>
            </div>
            <div></div>
        </div>
        <div class="informacion">
            <div class="data">
                <h4> Información</h4>
                <h4>Información básica</h4>
                <h4>* Organización : Regional La Paz</h4>
                <h4>* Fecha de nacimiento : 27/09/2000</h4>
                <h4>* Género : Femenino</h4>
                <h4>* Carrera : Ingeniería De Sistemas</h4>
                <h4>* Lugar de residencia: Bolivia</h4>
                <h4>Contacto</h4>
                <h4>* Correo electrónico :  e-mail</h4>
                <h4>* Celular : 7123456</h4>
                <h4>Personalizado</h4>
                <h4>* Registro UCB : 100000000</h4>

            </div>
            <div>
                <div class="data">
                    <h3>Cuenta</h3>
                    <br>
                    <h4>Se unio el 4 de agosto de 2023</h4>
                </div>
                <br>
                <div class="data" style="height: 300px; display: flex;">
                    <h3>Amigos</h3>
                    <div class="amigo">
                        2
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>