<app-navbar [user]="true"></app-navbar>
<div class="profile">
    <div class="portada">
        <img src={{user.uuidPortada}} alt="Imagen de portada">
        <div class="perfil">
            <div class="imagen">
                <img src={{user.uuidFoto}} alt="Foto de perfil">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="datos">
            <div>
                <h5>{{user.nombre}} {{user.apellidoPaterno}} {{user.apellidoMaterno}}</h5>
            </div>
            <div class="right">
                <div>
                    <h4>{{user.rol}}</h4>
                </div>
                <br>
                <div class="carrera">
                    <h4>{{user.correo}}</h4>
                </div>
            </div>  
        </div>
        <div class="header">
            <div></div>
            <div >
                <a routerLink="/profile"><h2>Mi perfil</h2></a>
            </div>
            <div class="margen">
                <a routerLink="/profile-info"><h1>Información</h1></a>
            </div>
            <div></div>
        </div>
        <div class="informacion">
            <div class="data">
                <h4> Información</h4>
                <h4>Información básica</h4>
                <h4>* Organización : Regional La Paz</h4>
                <h4>* Género : {{user.genero}}</h4>
                <h4>* Lugar de residencia: Bolivia</h4>
                <h4>Contacto</h4>
                <h4>* Correo electrónico :  {{user.correo}}</h4>
                <h4>Personalizado</h4>
                <h4>* Registro UCB : {{user.userId}}</h4>
            </div>
            <div>
                <div class="data">
                    <h3>Cuenta</h3>
                    <br>
                    <h4>Se unio el {{user.fechaRegistro}}</h4>
                </div>
                <div class="data" style="height: 300px; ">
                    <div style="display: flex;">
                        <h3>Amigos</h3>
                        <div class="amigo">{{countFriends}}</div>
                    </div>
                    <div *ngFor="let friend of friendsList" class="data-amigo">
                        <img src="../../../assets/icons/usuario.png" alt="Foto de perfil" class="pfpfriend">
                        <a href="{{friend.userId}}/profile"><h4>{{friend.nombre}} {{friend.apellidoPaterno}}</h4></a>
                    </div>                 
                </div>
            </div>
        </div>
    </div>
</div>